Day_1/pomoc.txt
Day_1/trebuchet
Day_1/trebuchet.in
Day_1/trebuchetc2
Day_10/pipe_maze
Day_10/pipe_maze_c2
Day_10/pipe_maze.in
Day_2/Cube_Condrum
Day_2/Cube_Condrum.in
Day_2/Cube_Condrum2
Day_3/gear
Day_3/gear.in
Day_3/gear.out
Day_3/gear2.in
Day_3/gearc2
Day_4/scratch
Day_4/scratch.in
Day_4/scratchc2
Day_5/fertilizer
Day_5/fertilizer.in
Day_5/fertilizerc2
Day_6/boat
Day_6/boat.in
Day_6/boatc2
Day_6/boatc2.in
Day_7/camelcards
Day_7/camelcards.in
Day_7/camelcardsc2
Day_7/test.out
Day_8/haunt
Day_8/haunt.in
Day_9/mirage
Day_9/mirage.in
Day_9/miragec2
Day_11/cosmic
Day_11/cosmicc2
Day_11/zad.in
Day_11/zad.out
Day_11/pom
Day_12/GUWNO.cpp
Day_12/rek.txt
Day_12/zad
Day_12/zad.in
Day_12/zad.out
Day_12/zad1.in
Day_12/zadc2
Day_12/zliczanie.bk
Day_13/mirrors
Day_13/mirrors.in
Day_13/mirrors.out
Day_13/mirrors.out
Day_13/mirrorsc2
Day_13/pom.txt
Day_14/zad
Day_14/zad.in
Day_14/zad.out
Day_14/zad.out1
Day_14/zad3
Day_14/zadc2
Day_15/lens
Day_15/lens.in
Day_15/lensc2
Day_16/back.bk
Day_16/lava
Day_16/lava.in
Day_16/lava.out
Day_16/lavac2
Day_17/cru.in
Day_17/cru.out
Day_17/cru2.out
Day_17/crucible
Day_17/crucible.in
Day_18/lav
Day_18/lav.in
Day_18/lav.out
Day_18/lav2.in
Day_18/lavc2
Day_21/steps
Day_21/steps.in
Day_23/hike
Day_23/hike.in
Day_23/hike.out
Day_23/hikec2
.vscode