Day_1/pomoc.txt
Day_1/trebuchet
Day_1/trebuchet.in
Day_1/trebuchetc2
Day_10/pipe_maze
Day_10/pipe_maze_c2
Day_10/pipe_maze.in
Day_2/Cube_Condrum
Day_2/Cube_Condrum.in
Day_2/Cube_Condrum2
Day_3/gear
Day_3/gear.in
Day_3/gear.out
Day_3/gear2.in
Day_3/gearc2
Day_4/scratch
Day_4/scratch.in
Day_4/scratchc2
Day_5/fertilizer
Day_5/fertilizer.in
Day_5/fertilizerc2
Day_6/boat
Day_6/boat.in
Day_6/boatc2
Day_6/boatc2.in
Day_7/camelcards
Day_7/camelcards.in
Day_7/camelcardsc2
Day_7/test.out
Day_8/haunt
Day_8/haunt.in
Day_9/mirage
Day_9/mirage.in
Day_9/miragec2
